@font-face {
  font-family: 'Kalpurush';
  src: url('/fonts/Kalpurush.ttf') format('truetype');
}

body {
  font-family: 'Kalpurush', sans-serif;
  background-color: #e8f0fe;
  margin: 0;
  padding: 0;
}
